<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apereo.cas.beenest.mapper.CasAuthAuditLogMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO cas_auth_audit_log (
            user_id, principal, auth_type, auth_result, failure_reason,
            client_ip, user_agent, device_id, service_url, handler_name
        ) VALUES (
            #{userId}, #{principal}, #{authType}, #{authResult}, #{failureReason},
            #{clientIp}, #{userAgent}, #{deviceId}, #{serviceUrl}, #{handlerName}
        )
    </insert>

</mapper>
