<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apereo.cas.beenest.mapper.CasServiceCredentialMapper">

    <sql id="columns">
        id, service_id, secret_hash, secret_salt, secret_version, state, created_time, updated_time
    </sql>

    <select id="selectByServiceId" resultType="org.apereo.cas.beenest.entity.CasServiceCredentialDO">
        SELECT <include refid="columns"/> FROM cas_service_credential
        WHERE service_id = #{serviceId}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO cas_service_credential (
            service_id, secret_hash, secret_salt, secret_version, state
        ) VALUES (
            #{serviceId}, #{secretHash}, #{secretSalt}, #{secretVersion}, #{state}
        )
    </insert>

    <update id="updateStateByServiceId">
        UPDATE cas_service_credential
        SET state = #{state},
            updated_time = CURRENT_TIMESTAMP
        WHERE service_id = #{serviceId}
    </update>

</mapper>
